{% extends 'base.html.twig' %}

{% block title %}New AboutText{% endblock %}

{% block body %}
    <h1>Create new AboutText</h1>

    {{ include('aboutText/_form.html.twig') }}

    <a href="{{ path('about_index') }}">back to list</a>
{% endblock %}
